@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

:root {
  --primary: #e55473;
}
body {
  font-family: "Lato", sans-serif;
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.primary-text {
  color: var(--primary);
}

.primary-button {
  border: none;
  background: var(--primary);
  padding: 20px 43px;
  border-radius: 8px;

  color: #fff;

  font-size: 20px;
  font-weight: 700;
}

.section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
