header {
  padding-top: 50px;
  background-color: rgba(229, 84, 115, 0.1);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-text {
  width: 49%;
  max-width: 708px;
}
.banner-text > * {
  margin-bottom: 32px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-image {
  width: 44%;
  max-width: 635px;
}

/* Feature Section */
.feature-section {
  padding: 100px 0;
}
